# This is a systemd unit file
[Unit]
Description=consumption service for paperless-ngx remote API
Documentation=https://github.com/ccremer/web-powercycle
After=network-online.target
Wants=network-online.target

[Service]
EnvironmentFile=-/etc/default/web-powercycle
User=6000
Group=0
ExecStart=/usr/bin/web-powercycle
Restart=on-failure

[Install]
WantedBy=multi-user.target
