# This is a systemd unit file
[Unit]
Description=remotely shut down system over web interface
Documentation=https://github.com/ccremer/web-powercycle
After=network-online.target
Wants=network-online.target

[Service]
EnvironmentFile=-/etc/default/web-powercycle
User=web-powercycle
ExecStart=/usr/bin/web-powercycle
Restart=on-failure

[Install]
WantedBy=multi-user.target
