name: Build

on:
  pull_request: {}

jobs:
  go:
    runs-on: ubuntu-latest
    steps:
      - uses: go-task/setup-task@v1
      - uses: actions/checkout@v6

      - uses: actions/setup-go@v6
        with:
          go-version-file: 'go.mod'

      - name: Run build
        run: task build
