name: Test

on:
  pull_request: {}

jobs:
  go:
    runs-on: ubuntu-latest
    steps:
      - uses: go-task/setup-task@v1
      - uses: actions/checkout@v4

      - uses: actions/setup-go@v5
        with:
          go-version-file: 'go.mod'

      - name: Run tests
        run: task test
